/* body {
              padding: 15px;
          } */

.table-hideable td,
.table-hideable th {
    width: auto;
    transition: width .5s, margin .5s;
}

.btn-condensed.btn-condensed {
    padding: 0 5px;
    box-shadow: none;
}


/* use class to have a little animation */

.hide-col {
    width: 0px !important;
    height: 0px !important;
    display: block !important;
    overflow: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}